:root {
  --accent: #45c94c;
  --piece-background: rgba(106, 255, 80, 0.722);
  --square-background: rgba(43, 255, 0, 0.478);
  --text: rgb(198, 198, 198);
  --text-hover: rgb(255, 255, 255);
  --text2: rgb(0, 0, 0);
  --background: #30362e;
  --dark-background: #1c211c;
  --light-background: #5b6958;
  --glow-color: rgba(164, 253, 152, 0.605);
}

/* :root {
  --accent: #c9ba45;
  --piece-background: rgba(255, 246, 80, 0.722);
  --square-background: rgba(255, 251, 0, 0.478);
  --text: rgb(198, 198, 198);
  --text-hover: rgb(255, 255, 255);
  --text2: rgb(0, 0, 0);
  --background: #36352e;
  --dark-background: #21211c;
  --light-background: #696858;
  --glow-color: rgba(253, 253, 152, 0.605);
} */

/* :root {
  --accent: #c94545;
  --piece-background: rgba(255, 80, 80, 0.722);
  --square-background: rgba(255, 0, 0, 0.478);
  --text: rgb(198, 198, 198);
  --text-hover: rgb(255, 255, 255);
  --text2: rgb(0, 0, 0);
  --background: #362e2e;
  --dark-background: #211c1c;
  --light-background: #695858;
  --glow-color: rgba(253, 253, 152, 0.605);
} */

/* :root {
  --accent: #4549c9;
  --piece-background: rgba(80, 86, 255, 0.722);
  --square-background: rgba(0, 4, 255, 0.478);
  --text: rgb(198, 198, 198);
  --text-hover: rgb(255, 255, 255);
  --text2: rgb(0, 0, 0);
  --background: #2e2e36;
  --dark-background: #1c1c21;
  --light-background: #585869;
  --glow-color: rgba(253, 253, 152, 0.605);
} */

/* :root {
  --accent: #c98045;
  --piece-background: rgba(255, 150, 80, 0.722);
  --square-background: rgba(255, 140, 0, 0.478);
  --text: rgb(198, 198, 198);
  --text-hover: rgb(255, 255, 255);
  --text2: rgb(0, 0, 0);
  --background: #36322e;
  --dark-background: #211e1c;
  --light-background: #696158;
  --glow-color: rgba(253, 213, 152, 0.605);
} */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
}

h1 {
  text-align: left;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text2);
  padding: 40px;
}

/* .list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.list ul li {
  list-style: none;
  margin: 42px;
  text-align: center;
  /* justify-content: space-evenly;
}*/

a {
  text-decoration: none;
  /* color: rgb(0, 0, 0); */
  color: var(--text);
  font-size: 20px;
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 14px 25px;
  /* background-color: transparent; */
  /* border: 2px solid rgb(12, 0, 66); */
  transition-duration: .5s;
  text-align: center;
  border-radius: 25%;
}

a:hover {
  /* background-color: rgb(12, 0, 66); */
  color: var(--text-hover);
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

button {
  /* border-radius: 0%; */
  /* border-color: var(--accent); */
  border-radius: 10px;
  border: 3px solid var(--accent);
  color: var(--text);
  background-color: var(--background);
  transition-duration: 0.5s;
  cursor: pointer;
}

button:hover {
  color: var(--text-hover);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  /* background-color: var(--dark-background); */
}
button:active {
  background-color: var(--dark-background);
}

.toggle-on {
  border: 3px solid var(--accent);
}
.toggle-off {
  border: 3px solid var(--background);
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  background-color: var(--dark-background);
  color: var(--text);
  /* border-radius: 10px; */
  border: 3px solid var(--accent);

  /* padding-left: 30%; */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;

  text-decoration: none;
  font-size: 18px;
}

.ascii-art {
  /* height: ; */
  /* display: grid;
  height: 100%;
  width: 100%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--dark-background);
  /* border: 3px solid var(--accent); */
  position: absolute;
  left: 50%;
  width: 100%;
  height: 90%;
  /* width: fit-content; */
  /* top: 50%; */
  transform: translate(-50%, 0%);
}

.fischer-quote {
  position: absolute;
  font-family: monospace;
  text-align: center;
  font-size: 25px;
  color: rgb(213, 211, 171);
  padding: 20px;
  width: 50%;
  white-space: pre-wrap;
  /* position: absolute; */
  transform: translate(-50%, 150px);
}

.fischer-quote2 {
  position: absolute;
  font-family: monospace;
  text-align: center;
  font-size: 25px;
  color: rgb(213, 211, 171);
  padding: 20px;
  width: 50%;
  white-space: pre-wrap;
  /* position: absolute; */
  transform: translate(50%, 250px);
}

.desc {
  position: absolute;
  font-family: monospace;
  text-align: center;
  font-size: 20px;
  color: var(--text);
  padding: 20px;
  width: 35%;
  white-space: pre-wrap;
  /* position: absolute; */
  transform: translate(-90%, -300px);
}

.fit-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.app {
  min-height: 100vh;
  background-color: var(--background);
}

.no-drag {
  -webkit-user-drag: none;
}

.button-panel {
  position: absolute;
  left: 640px;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 512px;
  width: 256px;
  background-color: var(--light-background);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid var(--accent); */
}

.button-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-user-drag: none;
}
.button-icon:hover {
  filter: opacity(75%);
}
.button-icon:active {
  filter: opacity(50%);
}

.button-icon2 {
  height: 45px;
  width: 45px;
  -webkit-user-drag: none;
}
.button-icon2:hover {
  filter: opacity(75%);
}
.button-icon2:active {
  filter: opacity(50%);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-buttons {
  display: flex;;
  flex-direction: row;
  align-items: center;
}

.panel-button {
  height: fit-content;
  width: fit-content;
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: large;
}

.small-button {
  height: 50px;
  width: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

.fen {
  display: inline-block;
  word-wrap: break-word;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: fit-content;
  width:  fit-content;
  white-space: pre;
  text-align: center;
  font-size: medium;
  color: white;
  background-color: var(--light-background);
}

/*
 ---------------------------- FOLLOW TOURNAMENTS ----------------------------
*/
.tournament-container {
  transition-duration: .5s;
  border: 5px solid var(--accent);
  width: 778px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 32px;
  background-color: var(--light-background);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.tournament-container:hover {
  color: var(--text-hover);
  /* border: 5px solid var(--text-hover); */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tournament-info {
  border: 5px solid var(--accent);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
  text-align: center;
  background-color: var(--dark-background);
  transition-duration: .5s;
}
.tournament-info:hover {
  color: var(--text-hover);
  /* border: 5px solid var(--text-hover); */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.games-and-standings-container {
  /* border: 5px solid var(--dark-background); */
  width: 768px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.games-and-standings-container:hover {
  color: var(--text-hover);
  /* border: 5px solid var(--text-hover); */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.standings-container {
  border: 5px solid var(--accent);
  width: 256px;
  transition-duration: .5s;
}
.standings-container:hover {
  color: var(--text-hover);
  /* border: 5px solid var(--text-hover); */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tournament-games-container {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 25%; */
  width: 512px;
  /* height: 1374px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  border: 5px solid var(--accent);
  margin: 0 auto;
  /* margin-top: 32px; */
}
.tournament-games-container:hover {
  color: var(--text-hover);
  /* border: 5px solid var(--text-hover); */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*
 ---------------------------- TOURNAMENT GAMES ----------------------------
*/
.game-info {
  position: relative;
  top: -128px;
  left: 128px;
  /* border: 5px solid blue; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  /* margin: 5px; */
  flex-direction: row;
  width: 369px;
  height: 128px;
  color: var(--text);
  text-align: center;
  transition-duration: .5s;
}
.game-info:hover {
  color: var(--text-hover);
}

.game-player-info {
  margin-top: 16px;
}

.game-eval-info {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

.eval-bar-container {
  width: 300px;
  height: 16px;
  /* border-radius: 5%; */
  background-color: gray;
  margin: 0 auto;
  display: flex;
}
.eval-bar {
  height: 16px;
}
.eval-bar:hover {
  border: 3px solid var(--accent);
  height: 22px;
  margin: 0 auto;
  margin-top: -3px;
}

.prediction-bar-container {
  width: 300px;
  height: 16px;
  /* border-radius: 5%; */
  background-color: gray;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
}
.prediction-bar {
  height: 16px;
}
.prediction-bar:hover {
  border: 3px solid var(--accent);
  height: 22px;
  margin: 0 auto;
  margin-top: -3px;
}

.white-bar {
  background-color: white;
  color: rgba(0, 0, 0, 0);
}
.white-bar:hover {
  color: black;
}

.black-bar {
  background-color: black;
  color: rgba(0, 0, 0, 0);
}
.black-bar:hover {
  color: white;
}

.gray-bar {
  background-color: gray;
  color: rgba(0, 0, 0, 0);
}
.gray-bar:hover {
  color: black;
}

.white-eval-bar {
  background-color: white;
  color: black;
}
.black-eval-bar {
  background-color: black;
  color: white;
}

/*
 ---------------------------- BOARD ----------------------------
*/
.board-and-stuff {
  /* position: relative; */
  align-items: center;
  transition-duration: .5s;
  border: 5px solid var(--accent);
  /* border: 5px solid red; */
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}
.board-and-stuff:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.board {
  pointer-events: auto;
  position: relative;
  /* left: 256px;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  align-items: center;
  /* border: 5px solid var(--dark-background); */
}
.board:hover {
  cursor: pointer;
}

/*
 ---------------------------- PIECES ----------------------------
*/
.piece {
  pointer-events: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0 0px 12px 0 rgba(253, 238, 152, 0.146);
  transition-duration: 0s;
}
.piece:hover {
  cursor: pointer;
  /* transition-duration: .5s; */
  box-shadow: 0 12px 12px 0 var(--glow-color);
  background-color: var(--piece-background);
}
.piece:active {
  transition-duration: 0s;
  background-color: rgba(255, 229, 80, 0);
}

/*
 ---------------------------- SQUARES ----------------------------
*/
.square {
  /* pointer-events: none; */
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
  /* width: 64px;
  height: 64px; */
  position: absolute;
  left: 0px;
  top: 0px;
}
.square:hover {
  /* pointer-events: none; */
  background-color: var(--square-background);
  /* border: 3px solid var(--accent); */
  box-shadow: 0 12px 12px 0 var(--glow-color);
}
.square:active {
  pointer-events: none;
}

.start {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  background-color: var(--square-background);
  /* width: 64px;
  height: 64px; */
  display: inline-block;
}

.move {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  background-color: var(--square-background);
  /* width: 24px;
  height: 24px; */
  border-radius: 50%;
  display: inline-block;
  /* transform: translate(20px, 20px); */
}

.capture {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  background-color: var(--square-background);
  /* width: 64px;
  height: 64px; */
  border-radius: 50%;
  display: inline-block;
}


.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  pointer-events: none;
  width: 120px;
  background-color: var(--dark-background);
  color: var(--text);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: large;

  border: 2px solid var(--accent);

  position: absolute;
  transform: translate(-50%, -150%);
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.info-text {
  text-align: center;
  color: var(--accent);
  font-size: xx-large;
  padding-top: 50px;
}
.info-text2 {
  text-align: center;
  color: var(--text-hover);
  font-size: x-large;
  padding-top: 20px;
}
.info-text3 {
  text-align: center;
  color: var(--text);
  font-size: large;
  padding-top: 5px;
}