:root {
  --accent: #dc8f31;
  --piece-background: rgba(255, 188, 80, 0.722);
  --square-background: rgba(255, 136, 0, 0.478);
  --text: rgb(198, 198, 198);
  --text-hover: rgb(255, 255, 255);
  --text2: rgb(0, 0, 0);
  --background: #36322e;
  --dark-background: #211e1c;
  --light-background: #5d564d;
  --glow-color: rgba(253, 202, 152, 0.605);
  --hue: 0deg;
  --sat: 100;
}

/* :root {
  --accent: #c9ba45;
  --piece-background: rgba(255, 246, 80, 0.722);
  --square-background: rgba(255, 251, 0, 0.478);
  --text: rgb(198, 198, 198);
  --text-hover: rgb(255, 255, 255);
  --text2: rgb(0, 0, 0);
  --background: #36352e;
  --dark-background: #21211c;
  --light-background: #696858;
  --glow-color: rgba(253, 253, 152, 0.605);
} */

/* :root {
  --accent: #c94545;
  --piece-background: rgba(255, 80, 80, 0.722);
  --square-background: rgba(255, 0, 0, 0.478);
  --text: rgb(198, 198, 198);
  --text-hover: rgb(255, 255, 255);
  --text2: rgb(0, 0, 0);
  --background: #362e2e;
  --dark-background: #211c1c;
  --light-background: #695858;
  --glow-color: rgba(253, 253, 152, 0.605);
} */

/* :root {
  --accent: #4549c9;
  --piece-background: rgba(80, 86, 255, 0.722);
  --square-background: rgba(0, 4, 255, 0.478);
  --text: rgb(198, 198, 198);
  --text-hover: rgb(255, 255, 255);
  --text2: rgb(0, 0, 0);
  --background: #2e2e36;
  --dark-background: #1c1c21;
  --light-background: #585869;
  --glow-color: rgba(253, 253, 152, 0.605);
} */

/* :root {
  --accent: #c98045;
  --piece-background: rgba(255, 150, 80, 0.722);
  --square-background: rgba(255, 140, 0, 0.478);
  --text: rgb(198, 198, 198);
  --text-hover: rgb(255, 255, 255);
  --text2: rgb(0, 0, 0);
  --background: #36322e;
  --dark-background: #211e1c;
  --light-background: #696158;
  --glow-color: rgba(253, 213, 152, 0.605);
} */

* {
  padding: 0;
  margin: 0;
  /* filter: hue-rotate(var(--hue)); */
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--background);
  filter: hue-rotate(var(--hue));
  transition-duration: .5s;
}

h1 {
  text-align: left;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text2);
  padding: 40px;
}

/* .list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.list ul li {
  list-style: none;
  margin: 42px;
  text-align: center;
  /* justify-content: space-evenly;
}*/

a {
  text-decoration: none;
  /* color: rgb(0, 0, 0); */
  color: var(--text);
  font-size: 20px;
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 14px 25px;
  /* background-color: transparent; */
  /* border: 2px solid rgb(12, 0, 66); */
  transition-duration: .5s;
  text-align: center;
  border-radius: 25%;
}

a:hover {
  /* background-color: rgb(12, 0, 66); */
  color: var(--text-hover);
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

button {
  /* border-radius: 0%; */
  /* border-color: var(--accent); */
  border-radius: 10px;
  border: 3px solid var(--accent);
  color: var(--text);
  background-color: var(--background);
  transition-duration: 0.5s;
  cursor: pointer;
}

button:hover {
  color: var(--text-hover);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  /* background-color: var(--dark-background); */
}
button:active {
  background-color: var(--dark-background);
}

.toggle-on {
  border: 3px solid var(--accent);
}
.toggle-off {
  border: 3px solid var(--background);
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  background-color: var(--dark-background);
  color: var(--text);
  /* border-radius: 10px; */
  border: 3px solid var(--accent);

  /* padding-left: 30%; */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;

  text-decoration: none;
  font-size: 18px;
}

.ascii-art {
  /* height: ; */
  /* display: grid;
  height: 100%;
  width: 100%; */
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  background-color: var(--dark-background);
  /* border: 3px solid var(--accent); */
  position: absolute;
  left: 50%;
  width: 100%;
  height: 90%;
  /* width: fit-content; */
  /* top: 50%; */
  transform: translate(-50%, 0%);
}

.fischer-quote {
  position: absolute;
  font-family: monospace;
  text-align: center;
  font-size: 25px;
  color: rgb(213, 211, 171);
  padding: 20px;
  width: 50%;
  white-space: pre-wrap;
  /* position: absolute; */
  transform: translate(-50%, 150px);
}

.fischer-quote2 {
  position: absolute;
  font-family: monospace;
  text-align: center;
  font-size: 25px;
  color: rgb(213, 211, 171);
  padding: 20px;
  width: 50%;
  white-space: pre-wrap;
  /* position: absolute; */
  transform: translate(50%, 250px);
}

.desc {
  /* position: absolute; */
  /* font-family: monospace; */
  text-align: left;
  font-size: 20px;
  color: var(--text);
  padding: 20px;
  /* width: 35%; */
  white-space: pre-wrap;
  width: 350px;
  /* position: absolute; */
  /* transform: translate(-200px, -300px); */
}
.twitter-link {
  text-align: left;
  color:rgb(99, 164, 255);
}
.twitter-link:hover {
  color:rgb(34, 92, 174);
}

.fit-image {
  pointer-events: none;
  position: absolute;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.app {
  min-height: 100vh;
  background-color: var(--background);
}

.no-drag {
  -webkit-user-drag: none;
}

.button-panel {
  position: absolute;
  left: 640px;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 512px;
  width: 256px;
  background-color: var(--light-background);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid var(--accent); */
}

.button-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-user-drag: none;
  transition-duration: 0.5s;
}
button:hover .button-icon {
  filter: opacity(75%);
}
button:active .button-icon {
  filter: opacity(50%);
}

.button-icon2 {
  height: 45px;
  width: 45px;
  -webkit-user-drag: none;
  transition-duration: 0.5s;
}
button:hover .button-icon2 {
  filter: opacity(75%);
}
button:active .button-icon2 {
  filter: opacity(50%);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-buttons {
  display: flex;;
  flex-direction: row;
  align-items: center;
}

.panel-button {
  height: fit-content;
  width: fit-content;
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: large;
}

.small-button {
  height: 50px;
  width: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

.fen {
  display: inline-block;
  word-wrap: break-word;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: fit-content;
  width:  fit-content;
  white-space: pre;
  text-align: center;
  font-size: small;
  color: white;
  background-color: var(--light-background);
}

/*
 ---------------------------- FOLLOW TOURNAMENTS ----------------------------
*/
.tournament-container {
  transition-duration: .5s;
  /* border: 5px solid var(--accent); */
  /* border-radius: 5%; */
  width: 878px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items:stretch; */
  /* padding: 50px; */
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
  /* margin:50px; */
  /* background-color: var(--light-background); */
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}
.tournament-container:hover {
  color: var(--text-hover);
  /* border: 5px solid var(--text-hover); */
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

.tournament-info-and-help {
  /* border: 5px solid green; */
  align-items: center;
  position: relative;
}

.tournament-info {
  width: 100%;
  margin: 0px;
  border: 5px solid var(--accent);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-hover);
  text-align: center;
  background-color: var(--dark-background);
  transition-duration: .5s;
}
.tournament-info:hover {
  color: var(--text-hover);
  /* border: 5px solid var(--text-hover); */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.games-and-standings-container {
  /* border-radius: 5%; */
  /* border: 5px solid var(--dark-background); */
  width: 100%;
  height: 100%;
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.games-and-standings-container:hover {
  color: var(--text-hover);
  /* border: 5px solid var(--text-hover); */
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

.standings-container {
  margin: 28px;
  background-color: var(--light-background);
  border: 3px solid var(--accent);
  width: 256px;
  height: 600px;
  transition-duration: .5s;
}
.standings-container:hover {
  color: var(--text-hover);
  /* border: 5px solid var(--text-hover); */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

table, th, td {
  color: var(--text);
  border-collapse: collapse;
  padding: 0;
  border: 3px solid var(--accent);
  width: 100%;
  /* display: block; */
  /* overflow: auto; */
}
table {
  height: 100%;
}
table:hover, th:hover, td:hover {
  color: var(--text-hover);
}
th {
  /* border: 3px solid var(--accent); */
  text-align: center;
  font-size: larger;
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--dark-background);
  color: var(--text-hover);
}
td {
  /* position: absolute; */
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  padding: 5px;
  font-size: large;
  /* background-color: var(--background); */
  color: var(--text-hover);
  filter: hue-rotate(calc(-1*var(--hue)));
}

.tournament-games-container {
  /* background-color: var(--light-background); */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 25%; */
  width: 512px;
  /* height: 1374px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  /* border: 5px solid var(--accent); */
  margin: 0 auto;
  margin: 20px;
  /* margin-top: 32px; */
}
.tournament-games-container:hover {
  color: var(--text-hover);
  /* border: 5px solid var(--text-hover); */
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

/*
 ---------------------------- TOURNAMENT GAMES ----------------------------
*/
.game-info {
  /* border: 3px solid red; */
  /* background-color: orange; */
  /* position: relative;
  top: -128px;
  left: 128px; */
  /* border: 5px solid blue; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  /* margin: 5px; */
  flex-direction: row;
  width: 310px;
  height: 128px;
  color: var(--text);
  text-align: center;
  transition-duration: .5s;
}
.game-info:hover {
  color: var(--text-hover);
}

.game-player-info {
  margin-top: 16px;
  margin-bottom: 0px;
  color: var(--text-hover)
}

.game-eval-info {
  /* margin-top: 16px; */
  /* margin-bottom: 16px; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}



.eval-bar-container {
  width: 250px;
  height: 16px;
  /* border-radius: 5%; */
  background-color: gray;
  margin: 0 auto;
  display: flex;
}
.eval-bar {
  height: 16px;
}
.eval-bar:hover {
  border: 3px solid var(--accent);
  height: 22px;
  margin: 0 auto;
  margin-top: -3px;
}

.prediction-bar-container {
  width: 250px;
  height: 16px;
  /* border-radius: 5%; */
  background-color: gray;
  margin: 0 auto;
  /* margin-top: 16px; */
  display: flex;
}
.prediction-bar {
  height: 16px;
}
.prediction-bar:hover {
  border: 3px solid var(--accent);
  height: 22px;
  margin: 0 auto;
  margin-top: -3px;
}

.bar-label {
  margin-top: 4px;
  /* text-align: left;
  margin-left: 32px; */
  text-align: center;
}

.white-bar {
  background-color: white;
  color: rgba(0, 0, 0, 0);
}
.white-bar:hover {
  color: black;
}

.black-bar {
  background-color: black;
  color: rgba(0, 0, 0, 0);
}
.black-bar:hover {
  color: white;
}

.gray-bar {
  background-color: gray;
  color: rgba(0, 0, 0, 0);
}
.gray-bar:hover {
  color: black;
}

.white-eval-bar {
  background-color: white;
  color: black;
}
.black-eval-bar {
  background-color: black;
  color: white;
}


.game-info-and-buttons {
  position: relative;
  width: 369px;
  height: 128px;
  /* border: 3px solid red; */
  top: -128px;
  left: 128px;
}
.game-info-and-buttons:hover::after {
  content: "Click to Expand";
  pointer-events: none;
  z-index: 2;
  background-color: var(--dark-background);
  border: 3px solid var(--accent);
  padding: 3px;
  position: relative;
  left: -126px;
  top: -90px;
  filter: opacity(70%);
}
.board-expandable:hover::after {
  content: "Click to Expand";
  pointer-events: none;
  z-index: 2;
  background-color: var(--dark-background);
  border: 3px solid var(--accent);
  padding: 3px;
  position: relative;
  left: 2px;
  top: -77px;
  filter: opacity(100%);
}

.expanded-board-stuff {
  position: relative;
  width: 497px;
  height: 512px;
  top: -448px;
  /* left: 128px; */
  /* border: 3px solid red; */
  /* background-color: var(--background); */
}

.move-buttons {
  position: absolute;
  right: 5px;
  bottom: 0px;
  height: 64px;
  width: 113px;
  /* background-color: red; */
  /* border: 3px solid lime; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}
.arrow-buttons {
  /* background-color: blue; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.move-button {
  width: 100%;
  height: 100%;
  border: none;
  filter: opacity(50%);
}
.live-button {
  height: 70%;
  width: 100%;
  border: none;
  filter: opacity(50%);
}

.expanded-result-buttons {
  position: absolute;
  /* border: 3px solid yellow; */
  height: 43px;
  width: 118px;
  right: 0px;
  top: 10px;
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  align-items: center;
}
.expanded-result-button {
    position: relative;
    height: 40px;
    width: 40px;
    font-size: small;
    text-align: center;
    padding: 0;
    /* border-radius: 0; */
    /* border: 0; */
    filter: opacity(30%);
    /* border: 3px solid gray; */
    /* filter: grayscale(50%); */
    border: none;
}
.expanded-result-button:hover {
  filter: opacity(100%);
}
.minimize-button {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 30px;
  height: 25px;
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 4px;
}
.mini {
  width: 20px;
  height: 3px;
  background-color: white;
}
.minimize-button:hover .mini {
  background-color: rgb(207, 207, 207);
}
.minimize-button:active .mini {
  background-color: rgb(179, 179, 179);
}

.player-info {
  display: flex;
  justify-content: space-around;
  width: 384px;
  height: 64px;
  color: var(--text-hover);
  background-color: var(--background);
  padding: 16px;
  /* border: 3px solid var(--accent); */
}

/* .black-player {
  border: 3px solid black;
} */
.white-player {
  position: absolute;
  bottom: 0;
  /* border: 3px solid white; */
}



.vert-eval-bar-container {
  position: absolute;
  top: 64px;
  right: 64px;
  /* border: 3px solid blue; */
  width: 32px;
  height: 384px;
  /* border-radius: 5%; */
  background-color: gray;
  margin: 0 auto;
  display: flex;
  display: flex;
  flex-direction: column;
}
.vert-eval-bar {
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
}
.vert-eval-bar:hover {
  border: 3px solid var(--accent);
  width: 38px;
  margin: 0 auto;
  margin-left: -3px;
}

.vert-prediction-bar-container {
  position: absolute;
  top: 64px;
  right: 16px;
  width: 32px;
  height: 384px;
  /* border-radius: 5%; */
  background-color: gray;
  margin: 0 auto;
  /* margin-top: 16px; */
  display: flex;
  flex-direction: column;
}
.vert-prediction-bar {
  font-size: 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
}
.vert-prediction-bar:hover {
  border: 3px solid var(--accent);
  width: 38px;
  margin: 0 auto;
  margin-left: -3px;
}

.bar-label {
  margin-top: 4px;
  /* text-align: left;
  margin-left: 32px; */
  text-align: center;
}

.white-bar {
  background-color: white;
  color: rgba(0, 0, 0, 0);
}
.white-bar:hover {
  color: black;
}

.black-bar {
  background-color: black;
  color: rgba(0, 0, 0, 0);
}
.black-bar:hover {
  color: white;
}

.gray-bar {
  background-color: gray;
  color: rgba(0, 0, 0, 0);
}
.gray-bar:hover {
  color: black;
}

.white-eval-bar {
  background-color: white;
  color: black;
}
.black-eval-bar {
  background-color: black;
  color: white;
}



.result-buttons {
  position: absolute;
  /* border: 3px solid yellow; */
  height: 128px;
  width: 59px;
  right: 0px;
  top: -16px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.result-button {
  position: relative;
  height: 43px;
  width: 59px;
  font-size: medium;
  text-align: center;
  padding: 0;
  /* border-radius: 0; */
  /* border: 0; */
  filter: opacity(30%);
  /* border: 3px solid gray; */
  /* filter: grayscale(50%); */
  border: none;
}
.result-button:hover {
  filter: opacity(100%);
}

.black-result {
  background-color: black;
  color: white;
  /* color: var(--accent); */
}
.black-result:hover {
  background-color: rgb(51, 51, 51);
  color: rgb(215, 215, 215);
}
.black-result:active {
  background-color: rgb(93, 93, 93);
  color: rgb(180, 180, 180);
}

.draw-result {
  background-color: gray;
  color: white;
  /* color: var(--accent); */
  /* border: none; */
}
.draw-result:hover {
  background-color: rgb(92, 92, 92);
  color: rgb(207, 207, 207);
}
.draw-result:active {
  background-color: rgb(97, 97, 97);
  color: rgb(160, 160, 160);
}

.white-result {
  background-color: white;
  color: black;
  /* border: none; */
  /* color: var(--accent); */
}
.white-result:hover {
  background-color: rgb(201, 201, 201);
  color: rgb(58, 58, 58);
}
.white-result:active {
  background-color: rgb(160, 160, 160);
  color: rgb(88, 88, 88);
}

.selected-result {
  border: 3px solid var(--accent);
  filter: none;
}
.selected-result:hover {
  filter: none;
}

/*
 ---------------------------- BOARD ----------------------------
*/
.board-and-stuff {
  background-color: var(--light-background);
  margin: 8px;
  /* position: relative; */
  align-items: center;
  transition-duration: .5s;
  border: 5px solid var(--accent);
  /* border: 5px solid red; */
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}
.board-and-stuff:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.board {
  z-index: 1;
  pointer-events: auto;
  position: relative;
  /* left: 256px;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  align-items: center;
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
  box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.35), 0 0px 50px 0 rgba(0, 0, 0, 0.44);
}
.board:hover {
  cursor: pointer;
  /* box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.376), 0 17px 50px 0 rgba(0, 0, 0, 0.283); */
}

/*
 ---------------------------- PIECES ----------------------------
*/
.piece {
  pointer-events: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0 0px 12px 0 rgba(253, 238, 152, 0.146);
  transition-duration: 0s;
}
.piece:hover {
  cursor: pointer;
  /* transition-duration: .5s; */
  box-shadow: 0 12px 12px 0 var(--glow-color);
  background-color: var(--piece-background);
}
.piece:active {
  transition-duration: 0s;
  background-color: rgba(255, 229, 80, 0);
}

/*
 ---------------------------- SQUARES ----------------------------
*/
.square {
  /* pointer-events: none; */
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
  /* width: 64px;
  height: 64px; */
  position: absolute;
  left: 0px;
  top: 0px;
}
.square:hover {
  /* pointer-events: none; */
  background-color: var(--square-background);
  /* border: 3px solid var(--accent); */
  box-shadow: 0 12px 12px 0 var(--glow-color);
}
.square:active {
  pointer-events: none;
}

.start {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  background-color: var(--square-background);
  /* width: 64px;
  height: 64px; */
  display: inline-block;
}

.move {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  background-color: var(--square-background);
  /* width: 24px;
  height: 24px; */
  border-radius: 50%;
  display: inline-block;
  /* transform: translate(20px, 20px); */
}

.capture {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  background-color: var(--square-background);
  /* width: 64px;
  height: 64px; */
  border-radius: 50%;
  display: inline-block;
}


.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px solid black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  pointer-events: none;
  width: 120px;
  background-color: var(--dark-background);
  color: var(--text);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: large;

  border: 2px solid var(--accent);

  position: absolute;
  transform: translate(-50%, -150%);
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.help {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  font-size: larger;
  transform: translate(0,0);
  display: inline-block;
  z-index: 5;
}
/* .help-follow {
  position: relative;
  right: 0;
  display: flex;
} */

.help .help-text {
  visibility: hidden;
  pointer-events: none;
  width: max-content;
  background-color: var(--dark-background);
  color: var(--text);
  text-align: left;
  padding: 20px;
  border-radius: 6px;
  font-size: large;

  border: 2px solid var(--accent);

  position: absolute;
  transform:translate(-100%, 2px);
  z-index: 5;

  white-space: pre-wrap;
}

.help:hover .help-text {
  visibility: visible;
}


.fail-popup {
  width: 600px;
  color: rgb(255, 255, 255);
  background-color: maroon;
  margin: 0 auto;
}

.fail-text {
  text-align: center;
  font-size: x-large;
  padding: 10px;
}

.info-text {
  text-align: center;
  color: var(--accent);
  font-size: xx-large;
  /* padding-top: 50px; */
}
.info-text2 {
  text-align: center;
  color: var(--text-hover);
  font-size: x-large;
  padding-top: 20px;
}
.info-text3 {
  text-align: center;
  color: var(--text);
  font-size: large;
  padding-top: 5px;
}

.half-second-transition {
  transition-duration: .5s;
}